<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.bath.petmatch">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--                  The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".WelcomeScreenActivity"
            android:label="@string/title_activity_welcome_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShelterPublicProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PetProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserCapabilitiesActivity"
            android:parentActivityName=".MainActivity" />
        <activity

            android:name=".FavouritesActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".ShelterEditProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ShelterPetsActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".PetAddActivity"
            android:label="Add pet"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PetEditActivity"
            android:label="@string/title_activity_pet_edit" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>